@import '/styles/responsive.css';

/* paleta de colores / color palette */
:root {
    --background: #D8DFE8;
    --blue: #0A3871;
    --gray: #D8DFE8;
    --black: #000000;
    --white: #FFFFFF;

    --font: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: var(--font);
}

.logoContainer {
    height: 2.2em;
    padding: 15px 40px;
}

.logo {
    font-size: 4rem;
    color: var(--blue);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.text {
    width: 900px;
    height: 750px;
}

.formulario {
    height: 100%;
}

.maintextarea {
    border: none;
    width: 100%;
    height: 80%;
    background: var(--background);
    color: var(--blue);
    resize: none;
    font-size: 2rem;
}

.maintextarea::-webkit-input-placeholder {
    color: var(--blue);
    font-size: 2rem;
}

.maintextarea:focus,
.seconTextarea:focus {
    outline: none !important;
}

.conditionalWords {
    display: flex;
    /* padding-left: 110px; */
    justify-content: center;
    font-size: .7rem;
    gap: 5px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.encriptar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 67px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--blue);
    border-radius: 24px;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.desencriptar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 67px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 24px;
    background-color: var(--gray);
    color: var(--blue);
    border: 1px solid var(--blue);
    cursor: pointer;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 410px;
    height: 800px;
    background-color: var(--white);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munheco {
    text-align: center;
    padding: 30px;
}

.buttonImagen {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 1.5rem;
}

.seconTextarea {
    border: none;
    width: 80%;
    height: 500px;
    resize: none;
    display: none;
}

.copyButton {
    width: 336px;
    height: 67px;
    font-weight: 400;
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

@media (max-width:768px) {
    .logoContainer {
        height: 30px;
        padding: 15px 40px;
    }

    .container {
        flex-direction: column;
    }

    .text {
        width: 80%;
        height: 400px;
        position: relative;
        font-style: normal;
    }

    .rectangle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 400px;
    }

    .munheco img {
        display: none;
    }

    .seconTextarea {
        margin: 10px 0;
        width: 80%;
        height: 300px;
    }

    .encriptar,
    .desencriptar,
    .copyButton {
        width: 15em;
        height: 3em;
    }
}